@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

@theme {
  --color-primary-blue: #1A76CB;
}

@layer base {
  html {
    font-family: Arial, sans-serif;
  }
}

input[type="checkbox"] {
  accent-color: #DB001A;
}

input[type="radio"] {
  accent-color: #DB001A;
}

input {
  outline: none;
}

button {
  outline: none;
}

@layer utilities {
  .modal-background {
    background-color: rgba(0, 0, 0, 0.5);
  }
}