name: wb

services:
    database:
        image: postgres:16
        restart: always
        env_file:
            - .env
        volumes:
            - data:/var/lib/postgresql/data
            - ./dumps/main.sql:/docker-entrypoint-initdb.d/main.sql
            - ./dumps:/dumps
        ports:
            - "${DB_PORT}:5432" 

    api:
        build: 
            context: ./core
            dockerfile: Dockerfile
        env_file:
            - .env
        environment:
            DB_HOST: database 
        volumes:
            - .:/app 
        depends_on:
            - database
        command: python -m uvicorn core.app:app --host 0.0.0.0 --port 8000 --reload
        ports: 
            - "8000:8000"

volumes:
    data:
        driver: local